<!DOCTYPE html>
<html>
        {{> header}}
    <link rel="stylesheet" href="/secondary.css"> 
    <body>
        <section class="secondaryHeader">
            <div class="secondaryTextContainer">
                <div class="HrGreenSpacer"></div>
                <h1 class="whitetext text70">{{pageTitle}}</h1>
            </div>
        </section>
        <main class="secondaryMain">
            <section class="secondaryTextContainer">
                <h2 class="secondaryTitle darkgreentext">Locally Owned and Operated</h2>
                <p class="browntext secondaryTextHeight">The Willamette Valley offers a unique environment that hosts a multitude of different garden design options. Each season brings new colors, from the winter blooming bulbs and shrubs to the spring and summer flowers to the deciduous trees that light up the fall. Strategic planning and care can create productive and attractive gardens all year round. I consider myself privileged to live in such a beautiful area and aspire to bring to you the best the Willamette Valley has to offer.</p>
            </section>
            <section class="secondaryTextContainer">
                <h2 class="secondaryTitle darkgreentext">Our Guarantee to You</h2>
                <p class="browntext secondaryTextHeight">At Alpine Steve Garden Service customer satisfaction is our top priority. I stand behind my work and offer complete accountability for every service I provide.</p>
            </section>
            <section class="secondaryTextContainer secondaryFlexRow">
                <div class="secondaryFlexItem">
                    <img class="img50" src="stevethai.jpg" alt="">
                </div>
                <div class="browntext secondaryFlexItem">
                    <h2 class="secondaryTitle darkgreentext">Thank You to Our Customers</h2>
                    <p class="secondaryTextHeight">I would like to personally extend my gratitude for your business. I value my commitment to you and will demonstrate my appreciation by providing exceptional service. I promise to continually apply best cultural practices and create solutions for your garden. It is a pleasure to serve my local community, thank you for choosing Alpine Steve Garden Service.</p>
                    <p class="secondaryTextHeight">Sincerely,</p>
                    <p class="secondaryTextHeight">Steve</p>
                    <p class="secondaryTextHeight">Alpine Steve Garden Service</p>
                </div>
            </section>
        </main>
    
        {{> footer}}
    
    </body>
</html>