<!DOCTYPE html>
<html>
        {{> header}}
    <link rel="stylesheet" href="/secondary.css"> 
    <body>
        <section class="secondaryHeader">
            <div class="secondaryTextContainer">
                <div class="HrGreenSpacer"></div>
                <h1 class="whitetext text70">{{pageTitle}}</h1>
            </div>
        </section>
        <main class="secondaryMain">
            <section class="secondaryTextContainer">
                <h2 class="secondaryTitle darkgreentext">Locally Owned and Operated</h2>
                <p class="browntext secondaryTextHeight">Summertime in Oregon is a time to be outside and enjoy all that nature has to offer. Steve and Alpine Lawn Service work hard to make that experience come to life. Many of our competitors focus on generating higher revenue, resulting in unnecessary applications and lower levels of customer service. For this reason, Alpine Lawn Service offers a customer friendly experience, which provides results far exceeding expectations. No matter what your lawn service needs may be, Steve and Alpine Lawn Service have the solution.</p>
            </section>
            <section class="secondaryTextContainer">
                <h2 class="secondaryTitle darkgreentext">Our Guarantee to You</h2>
                <p class="browntext secondaryTextHeight">At Alpine Lawn Service our level of commitment has no limit and we back it up with our 100% Service Guarantee. After all, it’s only fair to hold ourselves to the same level of service excellence that we measure in others.</p>
            </section>
            <section class="secondaryTextContainer secondaryFlexRow">
                <div class="secondaryFlexItem">
                    <img class="img50" src="stevethai.jpg" alt="">
                </div>
                <div class="browntext secondaryFlexItem">
                    <h2 class="secondaryTitle darkgreentext">Thank You to Our Customers</h2>
                    <p class="secondaryTextHeight">We would like to take a moment and thank you for your business. You chose us, among many as your lawn service provider. We strive to exceed your expectations in every way! You are truly valued, and it is always a pleasure to serve you. It’s people such as yourself to whom we owe the success of this business. Our sincere appreciation of your patronage cannot be overstated. We want to assure you that we will continue to do all we can to further exceed your expectations, and we hope you’ll continue to think of us for all your lawn related needs.</p>
                    <p class="secondaryTextHeight">Sincerely,</p>
                    <p class="secondaryTextHeight">Steve</p>
                    <p class="secondaryTextHeight">Alpine Lawn</p>
                </div>
            </section>
        </main>
    
        {{> footer}}
    
    </body>
</html>