<!DOCTYPE html>
<html>
        {{> header}}
    <link rel="stylesheet" href="/secondary.css"> 
    <body>
        <section class="secondaryHeader">
            <div class="secondaryTextContainer">
                <div class="HrGreenSpacer"></div>
                <h1 class="whitetext text70">{{pageTitle}}</h1>
            </div>
        </section>
        <main class="secondaryMain">
            
        </main>
    
        {{> footer}}
    
    </body>
</html>