<!DOCTYPE html>
<html>
        {{> header}}
         <link rel="stylesheet" href="/home.css"> 
    <body>
        <section id="Jumbo">
            <h3>- 100% SERVICE GUARANTEE -</h3>
            <h1>LAWN AND GARDEN</h1>
            <h2>DONE RIGHT</h2>
        </section>
    
        {{> footer}}
    
    </body>
</html>