<!DOCTYPE html>
<html>
        {{> header}}
         <link rel="stylesheet" href="/home.css"> 
    <body>
        <section id="Jumbo">
            <h3 class="whitetext">- Local to Alpine, OR -</h3>
            <h1 class="whitetext"><div>LANDSCAPING</div><div> AND</div><div></div> GARDEN</div></h1>
            <h3 class="whitetext">- 100% SERVICE GUARANTEE -</h3>
            <a href="#relnav"><img id="doubledown" src="icon-down-arrow.png"></a>
        </section>
    
         <nav id="relnav">
            <a href="#Jumbo"><i class="fas fa-tree"></i></a>
            <a href="#landscaping">LANDSCAPING</a>
            <a href="#garden">GARDEN</a>
        </nav>

        <section class="gridContain">

        <div id="landscaping" class="left landscapeBG">
            <div class="cardLayout">
                <div class="HrGreenSpacer"></div>
                <h2 class="whitetext text70 cardTitleMargin">Landscaping</h2>
                <h3 class="greentext textToUpper">Garden Design</h3>
                <p class="whitetext cardText">Would you like to plant a garden? I bring a creative take on planning a stunning garden that will thrive in the Willamette valley. If you are looking for year round color or a unique rock garden we can make it happen. I use only locally sourced plants and materials that are guaranteed to flourish where you live.</p>
                <h3 class="greentext textToUpper">Landscape Maintenance</h3>
                <p class="whitetext cardText">Beautiful gardens are a labor of love that require consistent care. I recommend yearly pruning, bi-annual fertilization, regular irrigation and regular monitoring and treatment for pest and fungal pressure. I provide quality care that won't break the bank. I can help you keep your garden looking its best.</p>
                <h3 class="greentext textToUpper">Mulch & Decorative Rock Installation</h3>
                <p class="whitetext cardText">Keep the pathways and open spaces attractive and weed free. Mulch and rock provide a nice accent while lowering the demand for water and weed control. I can bring in and install the right amount to get your yard looking pristine.</p>
            </div>
        </div>
        <div class="right greenPathBG">
            <div class="cardGallery">
                <img src="gallery-cta.png" alt="">
            </div>
        </div>

        <div id="services" class="left hammockBG">
            
        </div>
        <div class="right">
            <div class="cardLayout">
                 <div class="HrGreenSpacer"></div>
                <h2 class="browntext text70 cardTitleMargin">Services</h2>
                <ul class="darkgreentext textToUpper services gridContain">
                    <div class="left">
                        <li><img src="icon-check.jpg">Weed Control</li>
                        <li><img src="icon-check.jpg">De-Thatching</li>
                        <li><img src="icon-check.jpg">Core Aeration Treatment</li>
                    </div>
                    <div class="right">
                        <li><img src="icon-check.jpg">Edging</li>
                        <li><img src="icon-check.jpg">Fertilization</li>
                        <li><img src="icon-check.jpg">Power Washing</li>
                    </div>
                </ul>
            </div>
        </div>

        <div id="garden" class="left gardenBG">
            <div class="cardLayout">
                <div class="HrGreenSpacer"></div>
                <h2 class="whitetext text70 cardTitleMargin">Garden</h2>
                <h3 class="greentext textToUpper">Heading Veggie and Flower Gardens</h3>
                <p class="whitetext cardText">Are you interested in growing your own vegetables and flowers? I use permaculture and organic methods to help you grow gorgeous produce. Is your existing garden not growing as you would like? I can help you condition your soil for fertility and reduce pest pressure. I also provide healthy plants that are acclimatized to our local environment that will take off in your garden.</p>
                <h3 class="greentext textToUpper">Orchard</h3>
                <p class="whitetext cardText">If you would like to start a orchard or improve your existing fruit trees I do that too! I can plant a tradiitonal orchard or design a food forest to optimize a smaller space. I can also help you maximize your yield with proper pruning, irrigation and fertilization techniques.</p>
            </div>
        </div>
        <div class="right greenPathBG">
            <div class="cardLayout pictureBgContainer">
            </div>
        </div>

        </section>


        {{> footer}}
    
    </body>
</html>