<!DOCTYPE html>
<html>
        {{> header}}
    <link rel="stylesheet" href="/secondary.css"> 
    <body>
        <section class="secondaryHeader">
            <div class="secondaryTextContainer">
                <div class="HrGreenSpacer"></div>
                <h1 class="whitetext text70">{{pageTitle}}</h1>
            </div>
        </section>
        <main class="secondaryMain">
            <section class="secondaryTextContainer">
                <h2 class="secondaryTitle darkgreentext">Residential & Commercial Lawn Service</h2>
                <p class="browntext secondaryTextHeight">We are committed to enhancing our clients’ most important investment by exceeding their lawn service needs with reliability and value. Imagine quality family time, rest and relaxation, and leaving the dirty work up to us.</p>
                <p class="browntext secondaryTextHeight">Your business is just as important as ours. Like any other turf, the lawn around your business requires attention and service. Our flexibility and ability to customize a lawn care program for your property allows your business to make a great first impression.</p>
            </section>
            <section class="secondaryTextContainer secondaryFlexRow">
                <div class="browntext secondaryFlexItem">
                    <h2 class="secondaryTitle darkgreentext">Custom Lawn Care</h2>
                    <p class="secondaryTextHeight">We pride ourselves on our ability to make your lawn look its best. All mowing services include string trimming and blowing of clippings creating a clean fresh look.</p>
                    <h2 class="secondaryTitle darkgreentext">Weed Control</h2>
                    <p class="secondaryTextHeight">Our weed control is included with your fertilization program. By eliminating dandelions and other major lawn weeds we can help keep your lawn looking its best.</p>
                    <h2 class="secondaryTitle darkgreentext">Fertilization</h2>
                    <p class="secondaryTextHeight">All lawns need nutrients to survive and sometimes they need a little help to get them. We can design several different programs to help your lawn grow to its fullest potential.</p>
                </div>
                <div class="secondaryFlexItem">
                    <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.JqpuTjtFeeTDPCbgLkz4rAHaKH%26pid%3D15.1&f=1" alt="">
                </div>
            </section>
            <section class="secondaryTextContainer secondaryFlexRow">
                <div class="browntext secondaryFlexItem">
                    <img src="https://dunnerslawnservice.com/wp-content/uploads/2015/03/lawn-edging-madison.jpg" alt="">
                    <h2 class="secondaryTitle darkgreentext">Sidewalk & Driveway Edging</h2>
                    <p class="secondaryTextHeight">Edging walks, driveways and curbs will give your yard a neat, clean look that neighbors or businesses will envy.</p>
                    <h2 class="secondaryTitle darkgreentext">Spring & Fall Cleanup</h2>
                    <p class="secondaryTextHeight">We have the ability to rake or blow to remove leaves and grass clippings from your lawn, landscaping or flower beds in the spring or fall seasons.</p>
                    <h2 class="secondaryTitle darkgreentext">De-Thatching</h2>
                    <p class="secondaryTextHeight">Thatch is a layer of grass that develops at the base of the grass stems. A thick buildup can prevent essential water and nutrients from reaching the grass roots. We are able to remove any build-up of thatch.</p>
                    <h2 class="secondaryTitle darkgreentext">Core Aeration Treatment</h2>
                    <p class="secondaryTextHeight">Core aeration is an important practice to provide your lawn with the ultimate care. An aerated lawn will help control thatch, improve soil, improve root growth, and open airways for water and fertilizer to reach the lawn’s root system.</p>
                </div>
                <div class="browntext secondaryFlexItem">
                    <img src="https://dunnerslawnservice.com/wp-content/uploads/2015/03/madison-landscaping-company.jpg" alt="">
                    <h2 class="secondaryTitle darkgreentext">Landscaping & Flower Bed Maintenance</h2>
                    <p class="secondaryTextHeight">Our goal is to keep any flower beds or landscaping healthy, clean, safe and attractive. Proper care will keep your flowers, shrubs and bushes as fresh as the day you planted them.</p>
                    <h2 class="secondaryTitle darkgreentext">Mulch & Decorative Rock Installation</h2>
                    <p class="secondaryTextHeight">Let us shovel it for you! Take back your weekend and let Dunner’s install the mulch or decorative rock of your choice.</p>
                    <h2 class="secondaryTitle darkgreentext">Power Washing</h2>
                    <p class="secondaryTextHeight">All kinds of exteriors should be washed to remove the accumulation of mold, mildew, loose dirt, dust, and spider webs, etc. Have your house, deck , driveway, pool area or patios pressure washed by professionals.</p>
                    <h2 class="secondaryTitle darkgreentext">Gutter Cleaning</h2>
                    <p class="secondaryTextHeight">When’s the last time you were on your roof? Unfortunately it seems the only time you notice your gutters need to be cleaned is while it’s raining. Let us help protect your home from the damaging effects water can have by cleaning your gutters on a regular basis.</p>
                </div>
            </section>
        </main>
    
        {{> footer}}
    
    </body>
</html>