@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

header nav div a{
    font-size: 2.5em;
}
header nav a i{
    margin-right: 15px;
}

header nav div:first-child{
    margin-right: auto;
}



header nav a{
    margin: 10px;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

header nav a:visited{
    text-decoration: none;
    color: white;
}

header nav a:hover{
    color: #afd320;
}

header nav{
    margin: 0px 0px;
    display: flex;
    align-items: center;
    padding: 20px 50px;
    font-weight: 300;
    background-color: rgb(79, 154, 54);
}


body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
}

.browntext{
    color: #653000;
}

.greentext{
    color: #afd320;
}

.darkgreentext{
    color: #4f792a;
}

.whitetext{
    color: white;
}

.text70{
    font-size: 4rem;
    text-transform: uppercase;
}

.textToUpper{
    text-transform: uppercase;
}

.textCenter{
    text-align: center;
}

.cardGallery{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardLayout{
    display: flex;
    flex-direction: column;
    margin: 10px 60px;
}

.cardImg{
    object-fit: contain;
}

.cardText{
    line-height: 2.0;
}

.cardTitleMargin{
    margin: 10px 0px 60px 0px;
}


.HrGreenSpacer{
    background-color: #afd320;
    height:4px;
    width:40px;
    margin: 20px 0px;
}

.footerBG{
    background-image: url("footer-grass.jpg");
}

footer{
    margin-top: 100px;
    height: 40vh;
}

footer nav{
    margin: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
}

footer nav a{
    color: #4f792a;
    text-transform: uppercase;
    margin: 40px 10px;
    text-decoration: none;
}

footer nav a:visited{
    color: #4f792a;
    text-decoration: none;
}

#footerLogoContainer{
    display: flex;
    justify-content: space-around;
}

#footerLogoContainer a{
    color: #4f792a;
}

#footerLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footerLogo a{
    text-decoration: none;
}


#footerLogo i{
    color: #4f792a;
    font-size: 50px;
}

#copyright {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#copyright p{
   font-size: 12px;
    
}

#footerGrass{
    object-fit: contain;
}

.contactButton{
    border: 2px solid #afd320;
    text-decoration: none;
    padding: 10px 20px;
}

.contactButton:hover{
    border: 2px solid #afd320;
    background-color: #afd320;
    color: #4f792a;
    text-decoration: none;
    padding: 10px 20px;
}

.secondaryHeader{
    background-image: url("internal-bg2.jpg");
}

@media only screen and (max-width: 1050px) {
    .text70{
        font-size: 2.7em;
        text-transform: uppercase;
    }

    .cardTitleMargin{
        margin: 10px 0px 30px 0px;
    }
}



@media only screen and (max-width: 600px) {

    header nav{
        margin: 00px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 10px;
        font-weight: 300;
        background-color: rgb(79, 154, 54);
    }


    header nav a:first-child{
        font-size: 2em;
    }

    header nav div:first-child{
        margin-right: 10px;
        display: flex;
        justify-content: center;
    }

    
    header nav a{
        margin: 10px;
        font-size: 1.5em;
        text-decoration: none;
        color: white;
    }

    .text70{
        font-size: 3em;
        text-transform: uppercase;
    }

    .cardTitleMargin{
        margin: 10px 0px 40px 0px;
    }

    .cardLayout{
        display: flex;
        flex-direction: column;
        margin: 10px 40px;
    }
  }

  @media only screen and (max-width: 400px) {
    .text70{
        font-size: 2.2em;
        text-transform: uppercase;
    }

    #footerLogoContainer{
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 30vh;
    }

    #footerLogo {
        font-size: 1rem;
    }

    #footerLogo i{
        font-size: 1.7rem;
    }

    footer{
        margin-top: 20px;
    }
  }