.secondaryHeader{
    background-image: url("internal-bg2.jpg");
    background-image: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.secondaryTextContainer{
    width: 80%;
}

.secondaryMain{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.secondaryTitle{
    margin: 34px 0px;
    font-size: 40px;
}

.secondaryTextHeight{
    line-height: 1.6;
}

.secondaryFlexRow{
    display:flex;
   
}

.spaceBetween{
    justify-content: space-between;
}

.secondaryFlexItem{
    margin: 10px 30px;
}

.formLabelField{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.labelFieldPadding{
    padding-right: 20px;
    margin: 5px 0px;
}

.formStyle{
    background-color: rgb(79, 154, 54);
    border-radius: 5px;
    padding: 10px 20px;
    width: 100%;
}

.formTitle{
    font-size: 40px;
    margin: 10px 0px;
}

.labelTextSize{
    font-size: 24px;
}

.textInput{
    height: 32px;
    font-size:20px;
}

.textInput:focus{
    
    box-shadow: 2px 2px 5px #afd320;
}

.textArea{
    height:40%;
    margin-right: 20px;
    font-size:20px;
    font-family: 'Roboto', sans-serif;
}

.button{
    background-color: white;
    border: none;
    color: #4f792a;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 10px 0px;
}

.button:hover{
    background-color:#afd320;
}